html, body {
    height:100%;
}

html,
body {
  height: 100%;
 background-color: #f6f6f6;
}


#wrapper {
  /* height: 100%; */
  width:100%;
  display: flex;
  flex-direction:column;

}

.footer {
  background: black;
  /* position:absolute;
  bottom:0;
  right:0;
  left: 0;  */
}

.footer .container {
  padding: 2vh 0 0;
  color: #fff;
}

.jumbotron {
  aspect-ratio: 5/2;
  /* padding-top: 56.25%; */
  background: url(../images/intense.png) no-repeat;
  background-position: center;
  background-size: cover;
  /* background: rgb(255,95,111);
  background: linear-gradient(235deg, rgba(255,95,111,1) 0%, rgba(207,18,37,1) 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron .title-box {
  width:65%;
  max-width:1250px;
  /* background:#f783ac; */
  padding:20px;
}

.jumbotron .title-box h1 {
  color:#fff;
  font-size:2.5em;
  /* background:rgba(20,20,20,0.2); */
  /* box-shadow: 1px 3px 3px rgba(25, 25, 25, 0.5); */
  padding:5px 10px;
}

.jumbotron .title-box h1 span {
  font-size: 0.6em;
}

.main-area {
  flex: 1;
  /* background:red; */
  position: relative;
  /* display: flex;
  flex-direction: row; */
}

.jumbotron h1 {
  font-size: 3em;
  color: white;

  text-shadow: 1px 3px 6px rgba(25, 25, 25, 0.5);
}

.left {
  /* overflow-y: scroll; */
  padding: 3vh 0;
  /* overflow-y: scroll; */
  background: #f6f6f6;
  height: 100%;
}


.company-info-footer {
  background: #ababab;
  padding:2vh 0;
  flex:1;
  /* background: linear-gradient(135deg, rgba(219,244,241,1) 0%, rgba(134,192,213,1) 100%); */
  /* position: absolute; */
  /* top:0;
  bottom:0; */
}

.company-info-footer ul {
  list-style-type: none;
  padding:0;
  margin:10px auto;
  display: table;
}

.company-info-footer ul li {
  display: inline-block;
  
  margin:0 5px;
}

.company-info-footer ul li .facebook i{
  color: #fff;
  font-size: 1.5em;
  padding:4px 10px;
}

.company-info-footer ul li .facebook i:hover {
  background:rgba(109, 132, 180);
}

.company-info-footer ul li .instagram i {
  color: #fff;
  font-size: 1.5em;
  padding:4px 10px;
}

.company-info-footer ul li .instagram i:hover {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d)
}

.company-info-footer ul li .line i {
  color: #fff;
  font-size: 1.5em;
  padding:4px 10px;
}

.company-info-footer ul li .line i:hover {
  color:white;
  background:rgb(0, 185, 0);
}

.left .inner {
  /* background:red; */
  padding: 3vh 4vh;
  /* height:50vh; */
}

#list {
  /*border: 1px solid #9a9a9a;*/
  /* color: red; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  margin: 0 auto;
  /* overflow-y: scroll;
  height:30vh; */
  /* background:#fff; */
  box-shadow: 1px 3px 6px rgba(25, 25, 25, 0.5);
}

#list > .article {
  border-bottom: 1px dotted #9a9a9a;
  padding: 10px;
  position: relative;
}

#list > .article:nth-child(odd) {
  background: #d7d2cb;
}

#list > .article h2 a {
  font-size: 0.55em;
  color: #000;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#list > .article h2 a:hover {
  text-decoration: underline;
  color: #00f;
}

/* #list > .article img {
  width:100%;
  position:absolute;
  right:0px;
  top:0px;
  border-radius: 0 5px 5px 0;
  width:120px;
  height:120px;
  object-fit: fit;
} */

/* #list > .article .img-area {
  position: absolute;
  right:0;
  top:0;
  bottom:0;
}

#list > .article .img-area img {
  width:100%;
  height:100%;
} */

#list > .article h6 {
  text-decoration: underline;
}

#list > .article p {
  margin-bottom: 5px;
}

/* #list > .article:nth-child(1) p:after {
  content:"\f15c  新着!";
  color:red;
  font-size: 0.8em;
  margin-left:5px;
  padding:4px 8px;
  border:red 1px solid;
  font-family: 'Font Awesome 5 Free';
  background:#fff;
} */

#list > .article p:before {
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  margin-right: 3px;
}

#list > .article h6 a {
  margin: 0;
}

#list > .article h5 span:before {
  font-family: "Font Awesome 5 Free";
  content: "\f07b";
  margin-right: 3px;
}

#list > .article h5 span {
  /* padding:0 5px; */
  /* border:1px solid #1F456E; */
  border-radius: 3px;
  color: #909090;
  font-size: 0.7em;
  /* background-color: #fff; */
}

#list > .article .post-contents {
  color: black;
  font-size: 0.9em;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-family: "Klee One", cursive;
}

.tabs {
  /* position: relative;
  bottom: 0;
  left: 0; */
  /* width:100%; */
  
  text-align: center;
  display: grid;
  width:60%;
  margin:4vh auto 0;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid #20ba4f;
}

.first:hover,
.previous:hover,
.next:hover,
.last:hover {
  background: #3b5998;
  color: #fff;
}

.productSelect {
  margin: 1vh 0;
}

/* #alert {
  margin-top:2vh;
} */

#refresh {
  margin: 3vh auto;
  padding: 1vh 0 3vh;
}

#refresh a {
  background: blue;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
}

#refresh a:hover {
  background: white;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
}

.company-info p,
.company-info-footer p {
  text-align: center;
  font-size: 0.9em;
}

.company-info p.social-media,
.company-info-footer p.social-media {
  font-size: 2em;
}

.company-info p.social-media .fa-facebook,
.company-info-footer p.social-media .fa-facebook {
  color: #3b5998;
}

.company-info p.social-media .fa-line,
.company-info-footer p.social-media .fa-line {
  color: #20ba4f;
}

.company-info p.social-media .fa-instagram,
.company-info-footer p.social-media .fa-instagram {
  color: #f783ac;
}

.company-info h3,
.company-info-footer h3 {
  font-size: 1.25em;
  text-align: center;
}

.productSelect p {
  font-size: 1.25em;
  text-align: center;
  text-decoration: underline;
}

.productSelect select {
  /* background:cadetblue; */
  width: 100%;
  padding: 5px 0;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 992px) {
  #list .article h2 {
    /*float:right;*/
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .footer {
    position: relative;
  }
}


@media only screen and (max-width: 768px) {
  .jumbotron {
    aspect-ratio: 5/3;
  }

  .jumbotron .title-box {
    width:100%;
    max-width:768px;
    /* background:#f783ac; */
    padding:20px;
  }

  .company-info {
    display: none;
  }

  .company-info-footer {
    display: block;
    padding:1vh 0;
  }

  /* #list > .article .img-area {
    width:50%;
    margin:0 auto;
  } */

  #list > .article h2 {
    margin-bottom: 5px;
  }

  #list > .article p {
    font-size: 0.8em;
  }

  #list > .article h5 span {
    font-size: 0.6em;
    margin-bottom: 5px;
  }

  .right {
    padding: 2vh 0;
  }
}

@media only screen and (max-width: 660px) {
  .jumbotron h1 {
    font-size: 1.5em;
  }

  .main-area ul li {
    display: block;
    margin-bottom: 20px;
  }

  .left .inner {
    padding: 3vh 0;
  }
}

@media only screen and (max-width:576px) {
  .jumbotron .title-box h1 {
    font-size:2em;
  }
}

@media only screen and (max-width:440px) {
  .jumbotron .title-box {
    padding:20px 5px;
  }
  
  .jumbotron .title-box h1 {
    font-size:1.75em;
  }
}

@media only screen and (max-width:400px) {
  .jumbotron .title-box {
    padding:20px 5px;
  }
  
  .jumbotron .title-box h1 {
    font-size:1.5em;
  }
}

@media only screen and (max-width:375px) {
  .jumbotron .title-box {
    padding:20px 5px;
  }
  
  .jumbotron .title-box h1 {
    font-size:1.25em;
  }
}